img,
input {
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}
.nav-style {
  background-color: #000;
}
.button-form,
input {
  background: #f0f0f0;
}
.nav-item a,
.nav-item i,
.nav-item span,
.navbar-brand {
  color: #fff;
}
.button-form {
  width: 30%;
  color: #000;
}
input {
  height: 45px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.first-box h1 {
  font-size: 54px;
  font-family: Inter, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.prices-btn {
  width: 35%;
  height: 45px;
  background-color: #000;
  color: #fff;
}
.link-recent {
  color: #000;
  padding-left: 10px;
}
.detail-button {
  background: #f0f0f0;
  color: #000;
}
.text-card-arrange {
  font-size: 12px;
}
.fourth-portion {
  background: #9dcdd6;
  border-radius: 10px;
  position: relative;
}
.positioned-div {
  width: 50%;
  position: absolute;
  left: 0;
  background: #9dcdd6;
}
.fourth-portion img {
  width: 30%;
}
.input-label-div {
  display: flex;
}
.list-group li {
  border-left: none;
  border-top: none;
  border-right: none;
}
.benefit-style-box {
  border-radius: 10px;
  height: 275px;
  border: 1px solid #f1f1f1;
  padding: 24px;
}
@media (max-width: 1484px) {
  .fourth-portion img {
    width: 40%;
  }
  .list-group {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 766px) {
  .fourth-portion img {
    width: 40%;
  }
  .list-group {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 661px) {
  .button-form {
    width: 40%;
  }
  .first-box h1 {
    font-size: 40px;
  }
  .fourth-portion img {
    display: none;
  }
  .positioned-div {
    width: 100%;
  }
  .margin-arrange {
    margin-top: 9em;
  }
}
@media (max-width: 575px) {
  .button-form {
    width: 55%;
  }
  .first-box h1 {
    font-size: 25px;
  }
  .fourth-portion img {
    display: none;
  }
  .prices-btn {
    width: 65%;
  }
  .benefit-style-box {
    padding: 0 0 0 10px;
  }
}
